.navbar {
    border-bottom: 1px solid gray;
}

.flip-card {
    background-color: transparent;
    width: 30rem;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-back,
.flip-card-front {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}

.btn{
    background-color: #d2f4ea;
}

.beta{
    background-color: #d2f4ea;
    color: black;
}

.study-all{
    font-size: 10px;
}
