plotly
global-chem
kaleido
rdkit-pypi
bokeh>=2.3.0
flask
pandas
sklearn
dimorphite_dl
partialsmiles
pysmiles
molvs
molpdf
deepsmiles
requests
tf-estimator-nightly==2.8.0.dev2021122109
numpy>=1.20
pillow==4.3.0
six==1.15.0
folium==0.2.1
imgaug==0.2.5